# Next.js
.next/
out/
build/

# dependencies
node_modules/

# env
.env
.env*.local

# Prisma
prisma/*.db

# Playwright
test-results/
playwright-report/
blob-report/
playwright/.cache/

# misc
.DS_Store
*.log
npm-debug.log*
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
